html {
    background-image: url(https://images.pexels.com/photos/110854/pexels-photo-110854.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
body {
    background-color: transparent;
    color: white;
    font-family: 'Orbitron', sans-serif;
}
.gameBox {
    border: solid black 3px;
    border-radius: 5px;
    height: auto;
    background: white;
    height: 400px;
}

.hand-flip, .hand-rotate-computer {
    transform: scaleX(-1);
}

.hand-rotate, .hand-rotate-computer {
    transform: rotate(90deg);
}

.hand-transform {
    transform: scaleX(-1) rotate(90deg);
}

#player, #computer {
    height: 350px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
h3 {
    color: black;
    text-align: center
}

#result {
    text-align: center;
}

.selection {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    padding-top: 25px;
}
.selectionBox {
    background-color: white;
    height: 400px;
    border: solid black 3px;
    border-radius: 5px;
}

#title {
    font-size: 54px;
    padding-top: 50px;
}

.scores {
    font-size: 25px;
    text-align: right;
}